
<!doctype html>
<html ng-app="ui.bootstrap.demo">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="controllers/controller.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='css/style.css'/>
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Joti+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
  </head>
<body>
<div class="content">
    <div class="first_block"></div>
  
    <div class="second_block">
<section id="first_row">
  	<div class="header">
  		 <img src="images/google.png"> 
    </div>
    <div class="div1">
  		<p>
  			<h3>The early days</h3>
  			<h2>MST3K</h2>
  			In the not-too-distant-future, next sunday, AD.</br>
  			There was a man. There were some puppets. It was amazing.</br>
  			These are the experiments of the SOL.</br>

        </p>	
  	</div>
</section>
  	
<section id="second_row">
  	
    <div class="div2">
 	    <iframe width=100% height="350"
          src="https://www.youtube.com/embed/8UVNT4wvIGY">
        </iframe>
    </div>
    <div class="div3">
 	    <h3>Look what we found...</h3>
    </div>
    <div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo" id="div4">
        <script type="text/ng-template" id="video1.html">
        <div class="modal-header">
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">X</button>
        </div>
        <div class="modal-body" >
        	<iframe width="100%" height="315" src="https://www.youtube.com/embed/BQ0mxQXmLsk?rel=0&amp;controls=0&amp;showinfo=0&amp;start=156&amp;autoplay=1" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        </script>
        <script type="text/ng-template" id="video2.html">
        <div class="modal-header" >
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">X</button>
        </div>
        <div class="modal-body" >
        	
            <iframe  width=100% height="315" src="https://www.youtube.com/embed/2Vv-BfVoq4g?autoplay=1" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        </script>
        <script type="text/ng-template" id="video3.html">
        <div class="modal-header">
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">X</button>
        </div>
        <div class="modal-body" >
        	
            <iframe  width=100% height="315" src="https://www.youtube.com/embed/fKopy74weus?autoplay=1" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        </script>
     
       <div class="youtubeVideos" align="center">
        <ul>
        	<li>
        		 <button type="button"  ng-click="$ctrl.open('video1')"><img src="images/perfect.png"></button>
        	</li>
        	<li>
        		<button type="button"  ng-click="$ctrl.open('video2')"><img src="images/perfect.png"></button>
        	</li>
        	<li>
        		<button type="button" ng-click="$ctrl.open('video3')"><img src="images/thunder.png"></button>
        	</li>
        </ul>
       </div>
        
        
    </div>
</section>
<section id="third_row">
    <div class="contacts">
	    <ul>
            <li class="contact"><a href="https://facebook.com/" target="_blank"><i
                        class="fa fa-facebook"></i></a> </li>
                
            <li class="contact"><a href="https://www.twitter.com/" target="_blank"><i
                        class="fa fa-twitter"></i> </a> </li>
                    
            <li class="contact"><a href="https://google.com/" target="_blank"><i
                        class="fa fa-google-plus"></i> </a></li>

            <li class="contact"><a href="https://pinterest.com/" target="_blank"><i
                        class="fa fa-pinterest"></i> </a></li>
        </ul>
    </div>
</section>

    </div>
    <div class="third_block"></div>
    <div class="fourth_block"></div>
</div>
</body>
</html>

